button{
    border: 1px solid grey;
    background-color: white;
    font-size: 40px;
    width: 67px;
    height: 67px;
}
.clear{
    font-weight: normal;
    width: 201px;
}
.division{
    color: white;
    background-color: red;
}
.times{
    color: white;
    background-color: red;
}
.minus{
    color: white;
    background-color: red;
}
.plus{
    color: white;
    background-color: red;
    
}
.equals{
    color: white;
    background-color: red;
    
}
.zero{
    width: 201px;
}